services:

  nginx:
    build: ./nginx
    ports:
      - "443:443"
    networks:
      - inception
    restart: always

  mariadb:
    build: ./mariadb
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception
    restart: always
    ports:
      - "3306:3306"


  wordpress:
    build: ./wordpress
    depends_on:
      - mariadb
    env_file:
      - .env
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    restart: always

networks:
  inception:
    driver: bridge

volumes:
  db_data:
  wp_data:
