services:

  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    image: nginx:mine
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    restart: on-failure

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/
    image: mariadb:mine
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception
    restart: on-failure

  wordpress:
    container_name: wordpress
    image: wordpress:mine
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    env_file:
      - .env
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    restart: on-failure

networks:
  inception:
    name: inception
    driver: bridge

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hbettal/data/mariadb
  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hbettal/data/wordpress
